[submodule "serial-interface-mac"]
	path = services/serialapi/serial-interface-mac
	url = https://github.com/stackforce/serial-interface-mac.git


[submodule "crc"]
	path = services/serialapi/crc
	url = https://github.com/stackforce/crc.git
